/*-- scss:defaults --*/

// Define the colors
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #ecf0f1 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #b4bcc2 !default;
$gray-600: #95a5a6 !default;
$gray-700: #7b8a8b !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #2c3e50 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #e74c3c !default;
$orange:  #fd7e14 !default;
$yellow:  #f39c12 !default;
$green:   #18bc9c !default;
$teal:    #20c997 !default;
$cyan:    #3498db !default;

$presentation-heading-color: $blue;
$presentation-heading-font-weight: 800;
$link-color: $green;
$link-color-dark: $green;
$link-color-visited: $teal;
$link-color-hover: $teal;
$presentation-selection-background-color: #EDCBA0;
$presentation-title-slide-text-align: "left";
$presentation-block-margin: .0375rem;

/*-- scss:rules --*/

h1.title {
  color: $blue;
  font-size: 2.1em;
  font-style: italic;
  font-weight: 800;
  line-height: 1.7;
}

p.subtitle {
  font-size: 1.6em;
  color: $gray-800;
  font-weight: 800;
  line-height: .97;
  letter-spacing: .25px;
}

.backgrounds {
    background-color: #f8f8f8
}

.backgrounds .title-slide {
    background-color: $blue
}

.title-slide h1 {
  text-align: center;
  font-size: 1.7em;
  color: $gray-100;
}

.reveal h2 {
    font-size: 1.4em;
    margin-bottom: 2.8px;
}

h2>code {
    font-size: .95em; 
    margin-bottom: 2.8px;
}

.reveal h3 {
    font-size: 1em;
    margin-bottom: 2.8px;
    font-weight: bold;
}

.reveal h4 {
    font-size: 1em;
    margin-bottom: 2.8px;
    font-weight: bold;
    color: $gray-800;
}

.reveal h5 {
    font-size: .8em;
    margin-bottom: 2.8px;
    font-weight: bold;
    color: $gray-800;
}

.reveal p {
    font-size: .75em;
    margin-top: 8px;
    margin-bottom: 16px;
}

.reveal table {
  font-size: .75em;
}


.lightable-minimal.lightable-hover tbody tr:hover { 
  background-color: $green !important;
  color: $white;
}

.reveal .slide figure>figcaption, .reveal .slide img.stretch+p.caption, .reveal .slide img.r-stretch+p.caption  {
  font-size: .4em;
  color: $gray-800;
  text-align: center;
  margin-top: 1;
}

details {
  margin-bottom: 5px;
}

details>summary {
  font-size: 1.25rem;
  color: $gray-400;
}

code>a, code>span {
  font-size: 1.1rem;
}

.panel-tabset li>a {
  color: $gray-400;
  font-size: .6em;
  font-weight: bold;
}

.cell {
    margin-bottom: 12px;
}

.footer p {
  color: $gray-400;
  font-size: 1.25rem;
}

a:link,a:visited {
  color: $teal;
}
a:hov {
  color: $teal;
}

.small {
  font-size: .75rem;
}

.reveal li {
  font-size: 2.1rem;
}

.reveal li li, li li li {
  font-size: 1.75rem;
}

.reveal pre {
  height: 98.1%
}

.simple-highlight-grn {
 background-color: $teal;
 padding: 0.1em 0.2em;
 font-weight: bold;
}

.reveal .slide body::-webkit-scrollbar {
  display: none;
}
